<div class="header-title">
        <h1 header-title>
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a href="javascript:void(0)" class="sidebar-toggler" (click)="expandOnClick()">
                <i class="mdi mdi-unfold-more-vertical mdi-18px"></i>
        </a>
        <a href="javascript:void(0)" class="refresh" (click)="refreshOnClick()">
                <i class="mdi mdi-refresh mdi-18px"></i>

        </a>
        <a href="javascript:void(0)" class="fullscreen" (click)="fullScreenOnClick()">
                <i class="mdi mdi-arrow-expand-all mdi-18px"></i>
            </a>
    </div>