
.column-responsive {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 19px;
    /*padding:2px 0px;*/
}
.nopadding-left {padding-left:0!important;}.nopadding{padding:0!important;}.nopadding-right {padding-right:0!important;}

.position-relative {
  position: relative;
}
.main-container {
  position: static;
  padding: 0;
}
.main-container:after {
  background-color: #ffffff;
  bottom: 0;
  content: "";
  display: block;
  max-width: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bnav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.btn-circle {
  width: 16px;
  height: 16px;
  padding: 0px 1px!important;
  font-size: 12px!important;
  text-align: center!important;
  line-height: 1.428571429!important;
  border-radius: 15px!important;
  border:1px solid #ccc;
  opacity:0.4;
}
.btn-circle-active {
  width: 16px;
  height: 16px;
  padding: 0px 1px!important;
  text-align: center!important;
  font-size: 12px!important;
  line-height: 1.428571429!important;
  border-radius: 15px!important;
}
