html {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
  }
  body {
    padding-bottom: 0;
    min-height: 100%;
    font-family: 'Open Sans', 'Segoe UI' /*rtl:"Droid Arabic Kufi", "WYekan"*/;
    font-size: 13px;
    color: #444444;
  }
  body {
    margin: 0;
  }
  body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #eeeeee;
  }
.main-container {
    position: static;
    padding: 0;
  }
  .main-container > .page-container {
    position: relative;
    top: 40px;
  }
  .main-container:after {
    background-color: #ffffff;
    bottom: 0;
    content: "";
    display: block;
    max-width: inherit;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  .page-breadcrumbs {
    position: relative;
    background: #f3f3f3;
    min-height: 40px;
    line-height: 39px;
    padding: 0;
    display: block;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .page-breadcrumbs.breadcrumbs-fixed {
    position: fixed;
    right: 0;
    left: 224px;
    top: 45px;
    z-index: 999;
  }
  .page-breadcrumbs.breadcrumbs-fixed + .page-header {
    margin-top: 40px;
  }

  .page-body {
    background: #eeeeee;
    padding: 18px 20px 24px;
  }
  .navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .open .dropdown-menu{display:block}
  .dropdown-menu.float-right {
    left: auto;
    right: 0;
  }
  /*#region Page Content*/
.page-content {
    display: block;
    margin-left: 224px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
  }
  @media only screen and (max-width: 880px) {
    .page-content {
      margin-left: 0;
    }
  }
  /*#endregion Page Content*/
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}